<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="homeowner">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Homeowners
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="plot">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Plots
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="fee">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fees
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="event">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Events
        </NavLink>
    </div>
</nav>

@code {

}
